.custom-green-bg {
    color: #62ddb8;
    /* color: white; */
}

.homePage-text-size {
    font-size: xx-large;
}

.fontBorder {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 3px black;
}