.custom-green-bg {
    color: #62ddb8;
    /* color: white; */
}

.homePage-text-size {
    font-size: xx-large;
}

.fontBorder {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 3px black;
}

.bg-c-green {
    background-color: #62ddb8;
}

.bg-c-green2 {
    background-color: #59c7a6;
}

.custom-position {
    left: 16.5%;
    top: 0;
}

.custom-border {
    border: #E2E2E2 1px solid;
    border-radius: 6px;
}